﻿@model hukukProjesi.Models.Blog
@{
    var nameSurname = Context.Session["nameSurname"] as string;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="inner-banner has-base-color-overlay text-center" style="background: url(/Content/Site/images/background/1.jpg);">
    <div class="container">
        <div class="box">
            <h3>Blog Detayı</h3>
        </div><!-- /.box -->
    </div><!-- /.container -->
</div>
<div class="breadcumb-wrapper">
    <div class="container">
        <div class="pull-left">
            <ul class="list-inline link-list">
                <li>
                    <a href="@Url.Action("Index","Home")">Anasayfa</a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Blog")">Blog</a>
                </li>
                <li>
                    Detay
                </li>
            </ul><!-- /.list-line -->
        </div><!-- /.pull-left -->
        <div class="pull-right">
            <a href="#" class="get-qoute"><i class="fa fa-share"></i>paylaş</a>
        </div><!-- /.pull-right -->
    </div><!-- /.container -->
</div>

<div class="sidebar-page-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <section class="blog-section padd-2">
                    <div class="large-blog-news single-blog-post single-blog wow fadeInUp animated animated" style="visibility: visible; animation-name: fadeInUp;">
                        <div class="img-box">
                            <img src="@Model.image" alt="News" style="width:700px; height:400px;">
                        </div>
                        <div class="lower-content">
                            <div class="post-meta">Yazar: Av. @nameSurname</div>
                            <h4><a href="blog-details.html">@Model.Baslik</a></h4>

                            <div class="text" style="font-weight:bold;">
                                @Html.Raw(string.Join("<br/>", Model.Konu.Split(new[] { "\r\n", "\r", "\n" }, StringSplitOptions.None)))
                            </div>
                        </div><br>
                        
                    </div>
                    <div class="share-box clearfix">
                        <div class="social-box pull-right">
                            <span>Paylaş <i class="fa fa-share"></i></span>
                            <ul class="list-inline social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="blog-sidebar padd-4">
                    @Html.Action("Populer", "Blog")
                    <br>
                    <br>
                </div> <!-- End of .wrapper -->
            </div>
        </div>
    </div>
</div>
