@model hukukProjesi.Models.Author
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Avukat Hakkında</h4>
</div>
<div class="modal-body">
    <table class="table table-bordered">

        <tr>
            <td>Avukat'ın' Adı</td>
            <td>
                @Model.NameSurname
            </td>
        </tr>
        <tr>
            <td>Avukat'ın' E-Postası</td>
            <td>
                @Model.Email
            </td>
        </tr>
        <tr>
            <td>Avukat'ın' Alanı</td>
            <td>
                @Model.About
            </td>
        </tr>
        <tr>
            <td>Avukat'ın Eğitimi'</td>
            <td>
                @Model.Egitim
            </td>
        </tr>
        <tr>
            <td>Avukat'ın Deneyim Süresi</td>
            <td>
                @Model.Deneyim
            </td>
        </tr>
        <tr>
            <td>Avukat'ın Biyografisi</td>
            <td>
                @Model.Aciklama
            </td>
        </tr>
        <tr>
            <td>Rol</td>
            <td>
                @Model.Role
            </td>
        </tr>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>